body {
    background-color: antiquewhite;
}

.navbar-brand img {
    width: 100px;
}

.informe_produto {
    display: flex;
}

.produto h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.produto p {
    margin: 100px 150px 0px 100px;
}

.img_produto img {
    margin: 0px 0px 0px 100px;
    border-radius: 15px;
    width: 400px;
}