/*Jéssica*/
* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/*breno*/
/*Jéssica*/
html,
body {
    height: 100%;
    /*faz com que a página ocupe 100% da tela*/
    margin: 0%;
    /*remove a margem padrão*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*define a fonte padrão*/
    background-color: white;
    /*cor de fundo da página*/
    overflow-x: hidden;
    /*remove a barra de rolagem horizontal*/
    overflow-y: scroll;
    /*remove a barra de rolagem vertical*/
    scrollbar-width: none;
    /*oculta a barra de rolagem no firefox*/
    scroll-behavior: smooth;
    /*adiciona um efeito de rolagem suave*/

}

header {
    width: 100%;
    /*faz com que o cabeçalho ocupe 100% da largura da página - JÉSSICA*/
    position: fixed;
    /*fixa o cabeçalho na parte superior da página - JÉSSICA*/
    top: 0;
    z-index: 2;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    /*define a fonte padrão*/
    font-weight: 300;
    /*define a espessura da fonte*/
    letter-spacing: 0.5px;
    /*espaçamento entre as letras*/
}

.nav-link {
    color: #7c7c7c;
    /* cor cinza padrão */
    padding: 0 15px;
    /* espaçamento horizontal */
}

.nav-link:hover,
.nav-link:active {
    color: #c7a45d;
    /* tom dourado */
}

.nav-link:hover {
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1);
    /* efeito de zoom ao passar o mouse */
    transition: transform 0.3s ease;
    /* suaviza a transição do efeito */
    font-weight: bold;
}

.navbar-brand img {
    max-height: 100px;
    /*define a altura máxima da logo*/
    position: relative;
    /*posiciona a logo*/
    top: 5px;
    /*distância do topo*/
    width: 100px;
}

.redes img {
    position: relative;/*posiciona os ícones das redes sociais*/
    bottom: 15px;/*distância da parte inferior*/
    gap: 10px;/*espaçamento entre os ícones*/
}

.redes a:hover {
    transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1);
    /* efeito de zoom ao passar o mouse */
    transition: transform 0.3s ease;
    /* suaviza a transição do efeito */
}

/*.navbar {
    width: ; /* ou um valor fixo, ex: 80% ou 1200px 
}*/

.tudo {
    background-color: antiquewhite;
    color: rgb(64, 64, 64);
}

.redes {
    display: flex;
    /* Coloca os filhos lado a lado */
    width: 100px;
    /*define a largura do container das redes sociais*/
    gap: 15px;
    /*espaçamento entre os ícones*/
    margin-right: 25px;
    /*distância da direita*/
    top: 15px;
    /*distância do topo*/
    position: relative;
    /*posiciona o container relativo ao seu local original*/
}

.apresentacao {
    position: relative;
    color: #f6e7b9;
    /* Ou a cor que contraste bem com a imagem */
    padding: 300px;
    /*espaço interno da imagem*/
    text-align: center;
}

.backimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    /* imagem atrás */
    /*opacity: ; */
    /* opcional: deixa a imagem mais suave */
}

.apresentacao p,
.apresentacao h1 {
    object-position: 0%;
    position: relative;
    z-index: 1;
    /* texto na frente */
}

.apresentacao p {
    font-size: 20px;
}

.informe {
    display: flex;
    /* Coloca os filhos lado a lado */
    align-items: center;
    /* Alinha verticalmente ao centro (opcional) */
    flex-wrap: wrap;
    gap: 40px;
    /* Espaçamento entre a imagem e o texto */
    padding: 40px;
    margin: 100px 0px 100px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.informe img,
.sobre_img img {
    border-radius: 20px;
    margin-left: 110px;
    box-shadow: 4px 4px 10px rgba(210, 182, 22, 0.8);
    /*sombra da img*/
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 150px;
    /*width: 400px;*/
    /*faz com que a imagem ocupe 100% da largura da tela*/
    /*height: auto;*/
    /*mantém a proporção da imagem*/
    object-fit: contain;
}



.sobre {
    align-items: center;
    max-width: 400px;
    /* Limita a largura do texto */
    color: #D7C48D;
    /*cor da fonte*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobre h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #957b46;
    position: relative;
    bottom: 20px;
}

/*Jéssica - Alteração da cor da fonte do paragrafo em sobré nós*/
#sobre p {
    position: relative;
    bottom: 20px;
    margin-left: 10px;
    color: rgb(64, 64, 64);
    font-size: 110%;
    /*tamanho da fonte*/
    line-height: 1.6;
    /*espaçamento entre as linhas*/
    text-align: justify;
    /*alinha o texto nas duas margens*/
}

.categoria {
    position: relative;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    /*faz que as imagens quebrem linha*/
    align-items: center;
    padding-top: 50px;
    margin-left: 180px;
}

.categoria a {
    text-decoration: none;
    /*remove o sublinhado dos links*/
    color: rgb(64, 64, 64);
    /*cor da fonte*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    /*deixa a fonte em negrito*/
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 20px;
}

.categoria a:hover {
    color: #c7a45d;
    /*tom dourado ao passar o mouse*/
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1);
    /* efeito de zoom ao passar o mouse */
    transition: transform 0.3s ease;
    /* suaviza a transição do efeito */
    font-weight: bold;
}

.tratamento img {
    width: 254px;
}

.serum img {
    width: 250px;
}

.descolorantes img {
    width: 250px;
}

.produtosn img {
    width: 250px;
}

.lanc   {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.video video {
    max-width: 100%;
    width: 400px;
    border-radius: 8px;
}

.lanc h2{
    text-align: center;
    flex-wrap: wrap;
}
    

.lanc p{
    position: relative;
    left: 100px;
}



/*jessica*/
/*breno*/

.lancamentos {
    position: relative;
    left: 200px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*grade responsiva*/
    justify-content: center;
    padding: 20px;
    /*faz que os itens filhos se tornem flexiveis*/
    /*espaço de 15px entre os itens*/
    flex-wrap: wrap;
    /*faz que as imagens quebrem linha*/
    color: #D7C48D;
}

/*jessica*/

/*breno*/
.text h2 {
    font-family: "Glorify", Sans-serif;
    text-align: center;
    color: #957b46;
    margin-bottom: 20px;
}

.lancamentos img {
    align-items: center;
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}


.sobre_img img {
    width: 300px;
}

/*breno*/

/*jessica*/
footer {
    background-color: antiquewhite;
    /*cor de fundo da página*/
    color: #957b46;
    /*cor da fonte*/
    font-weight: bold;
    /*deixa a fonte em negrito*/
    font-size: small;
    text-align: center;
    /*alinha o texto ao centro*/
    ;
    padding: 5px;
    /*espaço interno*/
    bottom: 0;
    /*faz com que o rodapé fique na parte inferior da página*/
    width: 100%;
    /*faz com que o rodapé ocupe 100% da largura da página*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*define a fonte padrão*/
}

/*jessica*/

.contato {
    margin: 50px 0px 50px 0px;
    position: relative;
    text-align: center;
    font-size: 20px;
}

.contato a {
    text-decoration: none;
    font-weight: bold;
    color: #7c7c7c;

}

.contato a:hover {
    color: #c7a45d;
}

.contato img {
    position: relative;
    bottom: 15px;
    width: 50px;
}















@media (max-widht:480px) {

    /*Cria formatação especifica para telas até 400px*/
    #sobre {
        flex-direction: column;
    }
}

/*#produtos img{
    width: 50%;
}*/