/*Jéssica*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*breno*/
/*Jéssica*/
html,
body {
    height: 100%;
    /*faz com que a página ocupe 100% da tela*/
    margin: 0%;
    /*remove a margem padrão*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*define a fonte padrão*/
    background-color: white;
    /*cor de fundo da página*/
}

header {
    width: 100%;
    /*faz com que o cabeçalho ocupe 100% da largura da página - JÉSSICA*/
    position: fixed;
    /*fixa o cabeçalho na parte superior da página - JÉSSICA*/
    top: 0;
    z-index: 2;
}

/*.navbar {
    width: ; /* ou um valor fixo, ex: 80% ou 1200px 
}*/

.tudo {
    background-color: antiquewhite;
    color: rgb(64, 64, 64);
}

.inst img {
    width: 30px;
    padding: 0px;
    align-items: center;
}

.navbar-brand img {
    width: 100px;
}



.apresentacao img{
    margin: 0px;
}

.apresentacao {
    position: relative;
    color: #f6e7b9;
    ;
    /* Ou a cor que contraste bem com a imagem */
    padding: 300px;
    /*espaço interno da imagem*/
    text-align: center;
}

.backimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    /* imagem atrás */
    /*opacity: ; */
    /* opcional: deixa a imagem mais suave */
}

.apresentacao p,
.apresentacao h1 {
    position: relative;
    z-index: 1;
    /* texto na frente */
}

.informe {
    display: flex;
    /* Coloca os filhos lado a lado */
    align-items: center;
    /* Alinha verticalmente ao centro (opcional) */
    flex-wrap: wrap;
    gap: 40px;
    /* Espaçamento entre a imagem e o texto */
    padding: 40px;
    margin: 100px 0px 100px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.informe img {
    border-radius: 20px;
    margin-left: 110px;
    box-shadow: 4px 4px 10px rgba(210, 182, 22, 0.8);
    /*sombra da img*/
    position: relative;
    width: 100%;
    height: auto;
}

.sobre_img img {
    max-width: 100%;
    /*faz com que a imagem ocupe 100% da largura da tela*/
    height: auto;
    /*mantém a proporção da imagem*/
    display: block;
    object-fit: contain;

}

.sobre {
    max-width: 600px;
    /* Limita a largura do texto */
    color: #D7C48D;
    /*cor da fonte*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobre h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #957b46;
}

/*Jéssica - Alteração da cor da fonte do paragrafo em sobré nós*/
#sobre p {
    color: rgb(64, 64, 64);
    font-size: 16px;
    /*tamanho da fonte*/
    line-height: 1.6;
    /*espaçamento entre as linhas*/
    text-align: justify;
    /*alinha o texto nas duas margens*/
}

/*jessica*/
/*breno*/
.produtos {
    align-items: center;
    text-align: center;
    display: flex;
    /*faz que os itens filhos se tornem flexiveis*/
    grid-area: auto;
    /*os itens se alinham na horizontal*/
    /*gap: 15px;*/
    /*espaço de 15px entre os itens*/
    flex-wrap: wrap;
    /*faz que as imagens quebrem linha*/
    margin-left: 200px;
    color: #D7C48D;
    margin-bottom: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*jessica*/

/*breno*/

.text h2 {
    font-family: "Glorify", Sans-serif;
    text-align: center;
    color: #957b46;
    margin-bottom: 20px;
}

.produto1 img {
    width: 255px;
    border-radius: 50%;
    margin: 150px 0px;
}

.button {
    top: 200px;
    right: 200px;
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background-color: #D7C48D;
    text-decoration: none;
    user-select: none;
    color: rgb(64, 64, 64);
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        top: var(--mouse-y);
        left: var(--mouse-x);
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(white, .1);
        border-radius: 100%;
        transition: width .3s ease, height .3s ease;
    }

    &:focus,
    &:hover {
        background: darken(#312827, 7%);
    }

    &:active {
        &:after {
            width: 300px;
            height: 300px;
        }
    }
}

.produto2 img {
    width: 255px;
    border-radius: 50%;
}


.produto3 img {
    width: 255px;
    border-radius: 50%;
}

.produto4 {
    margin-right: 0px;
}

.produto4 img {
    width: 255px;
    border-radius: 50%;
}

.sobre_img img {
    width: 300px;
}

/*breno*/

/*jessica*/
footer {
    background-color: antiquewhite;
    /*cor de fundo da página*/
    color: #957b46;
    /*cor da fonte*/
    font-weight: bold;
    /*deixa a fonte em negrito*/
    font-size: small;
    text-align: center;
    /*alinha o texto ao centro*/
    padding: 5px;
    /*espaço interno*/
    bottom: 0;
    /*faz com que o rodapé fique na parte inferior da página*/
    width: 100%;
    /*faz com que o rodapé ocupe 100% da largura da página*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*define a fonte padrão*/
}

/*jessica*/
























@media (max-widht:480px) {

    /*Cria formatação especifica para telas até 400px*/
    #sobre {
        flex-direction: column;
    }
}

/*#produtos img{
    width: 50%;
}*/