/*breno*/
body {
    background-color: antiquewhite;
}

/*.navbar {
    width: ; /* ou um valor fixo, ex: 80% ou 1200px 
}*/

.navbar-brand img {
    width: 100px;
}

.produto1 img {
    width: 255px;
    border-radius: 50%;
}

.produto2 img{
    width: 255px;
    border-radius: 50%;
}

.produto3 img {
    width: 255px;
    border-radius: 50%;
}

.produto4 img {
    width: 255px;
    border-radius: 50%;
}

.sobre_img img {
    width: 300px;
}
/*breno*/

.produtos{
    padding: 20px;
    text-align: center;
    display: flex;
    grid-area: auto;
    position: relative;
    margin: 0px 80px;
    gap: 15px;
}
