/*breno*/
body {
    background-color: antiquewhite;
}

/*.navbar {
    width: ; /* ou um valor fixo, ex: 80% ou 1200px 
}*/

.navbar-brand img {
    width: 100px;
}

.produto1 img {
    width: 250px;
}

.produto2 img{
    width: 250px;
}

.produto3 img {
    width: 250px;
}

.produto4 img {
    width: 250px;
}

.sobre_img img {
    width: 300px;
}
/*breno*/