/*breno*/
body {
    background-color: antiquewhite;
}

/*.navbar {
    width: ; /* ou um valor fixo, ex: 80% ou 1200px 
}*/

.navbar-brand img {
    width: 100px;
}

.apresentacao {
    margin: 30px;
}

.apresentacao {
  position: relative;
  color: #f6e7b9;; /* Ou a cor que contraste bem com a imagem */
  padding: 200px;/*espaço interno da imagem*/
  text-align: center;
}

.backimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;           /* imagem atrás */
  /*opacity: ; */        /* opcional: deixa a imagem mais suave */
}

.apresentacao p,
.apresentacao h1 {
  position: relative;
  z-index: 1;           /* texto na frente */
}

.informe {
    display: flex;          /* Coloca os filhos lado a lado */
  align-items: center;    /* Alinha verticalmente ao centro (opcional) */
  flex-wrap: wrap;
  gap: 40px;              /* Espaçamento entre a imagem e o texto */
  padding: 40px;
  margin: 200px 0px 400px 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.informe img {
    border-radius: 20px;
    margin-left: 110px;
    box-shadow: 4px 4px 10px rgba(210, 182, 22, 0.8);/*sombra da img*/
    position: relative;
    width: 100%;
    height: auto;
}

.sobre_img img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.sobre {
  max-width: 600px;       /* Limita a largura do texto */
  color: #D7C48D;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*breno*/

/*jessica*/
.produtos{
    text-align: center;
    display: flex;/*faz que os itens filhos se tornem flexiveis*/
    grid-area: auto;/*os itens se alinham na horizontal*/
    gap: 15px;/*espaço de 15px entre os itens*/
    flex-wrap: wrap;/*faz que as imagens quebrem linha*/
    margin-left: 100px;
    color: #D7C48D;
    margin-bottom: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}/*jessica*/

/*breno*/

.text h2 {
    font-family: "Glorify", Sans-serif;
    text-align: center;
    color: #957b46;
    margin-bottom: 20px;
}

.produto1 img {
    width: 255px;
    border-radius: 50%;
}

.produto1 button {
    position: relative;
    top: 170px;
    right: 175px;
    border-radius: 10px;
    padding: 5px;
    background-color: #D7C48D;
}

.produto2 img{
    width: 255px;
    border-radius: 50%;
}

.produto2 button {
    position: relative;
    top: 170px;
    right: 165px;
    border-radius: 10px;
    padding: 5px;
    background-color: #D7C48D;
}

.produto3 img {
    width: 255px;
    border-radius: 50%;
}

.produto3 button {
    position: relative;
    top: 170px;
    right: 170px;
    border-radius: 10px;
    padding: 5px;
    background-color: #D7C48D;
}

.produto4 img {
    width: 255px;
    border-radius: 50%;
}

.produto4 button {
    position: relative;
    top: 170px;
    right: 170px;
    border-radius: 10px;
    padding: 5px;
    background-color: #D7C48D;
}

.sobre_img img {
    width: 300px;
}/*breno*/





@media (max-widht:480px){/*Cria formatação especifica para telas até 400px*/
    #sobre{
        flex-direction: column;
    }
}

/*#produtos img{
    width: 50%;
}*/
